<?xml version="1.0" encoding="UTF-8" ?>
<beans>
<!--    <bean id="userDao" class="com.friday.test.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>-->
    <bean id="userService" class="com.friday.test.bean.UserService" scope="prototype">
        <property name="userId" value="10003" />
        <property name="userDao" ref="proxyUserDao" />
        <property name="company" value="一拓" />
        <property name="location" value="南京" />
    </bean>

    <bean id="proxyUserDao" class="com.friday.test.bean.ProxyBeanFactory" />

<!--    <bean class="com.friday.test.config.CustomBeanFactoryPostProcessor" />-->
<!--    <bean class="com.friday.test.config.CustomBeanPostProcessor" />-->
</beans>